@font-face {
    font-family: adobe-clean;
    src: url('../fonts/adobe-clean-normal-400.woff2') format('woff2');
    font-display: swap;
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: calibri;
    src: url('../fonts/calibri/calibri-regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: calibri;
    src: url('../fonts/calibri/calibri-bold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
    font-display: swap
}